extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content= csrfToken)


block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raíces
        h2.text-center.text-2xl.font-extrabold= pagina


        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")


            form(action=`/propiedades/agregar-imagen/${propiedad.id}` method="POST" class="space-y-8 dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" id="imagen") 
                input(type="hidden", name="_csrf" value=csrfToken)

            
            button(type="button" class="mt-5 py-4 bg-indigo-600 rounded-md hover:bg-indigo-800 text-white font-bold text-center w-full cursor-pointer uppercase" id="publicar") publicar propiedad

block scripts 
    script(src="/js/agregarImagen.js") 
    